.wrapper {
    max-width: 1100px;
}
header h3 {
    font-variant: small-caps;
    /*color: #d0cfcf;*/
    color: #949292;
    padding: 1.5rem;
    text-align: center;
}
section {
    min-height: 76vh;
}
footer {
    font-size: small;
    padding: 1rem;
}
.error {
    color: #cd5c5c;
    font-weight: 700;
    font-size: 1.2rem;
}